trigger: none
parameters:
- name: environment
  displayName: 'Environment'
  type: string
  default: 'nonprod'
  values: [nonprod, prod]
- name: terraformAction
  displayName: 'Action'
  type: string
  default: 'plan'
  values: [plan, apply, destroy]

pool:
  name: 'Self hosted pools'
  demands:
   - Agent.Name -equals alaaynassar-VMware 

variables:
  AWS_SERVICE_CONNECTION: 'alaa-aws' 
  WORKING_DIR: 'terraform'
  BUCKET_NAME: 'end-to-end-devops-project-bucket'
  REGION: 'us-east-1'
  ACTION_VALUE: ${{ parameters.terraformAction }}
  ${{ if eq(parameters.environment, 'prod') }}:
    STATE_KEY: 'infra/prod/terraform.tfstate'
    VAR_FILE: 'prod.tfvars'
  ${{ if eq(parameters.environment, 'nonprod') }}:
    STATE_KEY: 'infra/nonprod/terraform.tfstate'
    VAR_FILE: 'nonprod.tfvars'

jobs:
- job: TerraformJob
  steps:
  - checkout: self
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'
  - task: AWSShellScript@1
    displayName: 'Terraform Run'
    inputs:
      awsCredentials: '$(AWS_SERVICE_CONNECTION)'
      regionName: '$(REGION)'
      scriptType: 'inline'
      inlineScript: |
        cd $(WORKING_DIR)
        terraform init -backend-config="bucket=$(BUCKET_NAME)" -backend-config="key=$(STATE_KEY)" -backend-config="region=$(REGION)" -reconfigure
        if [ "$(ACTION_VALUE)" == "plan" ]; then
          terraform plan -var-file="$(VAR_FILE)"
        elif [ "$(ACTION_VALUE)" == "apply" ]; then
          terraform apply -var-file="$(VAR_FILE)" -auto-approve
        elif [ "$(ACTION_VALUE)" == "destroy" ]; then
          terraform destroy -var-file="$(VAR_FILE)" -auto-approve
        fi