trigger:
- none

parameters:
- name: environment
  displayName: 'Select Environment'
  type: string
  default: 'nonprod'
  values:
  - nonprod
  - prod

- name: terraformAction
  displayName: 'Select Terraform Action'
  type: string
  default: 'plan'
  values:
  - plan
  - apply
  - destroy

pool:
  name: 'Self hosted pools'  
  demands:
   - Agent.Name -equals alaaynassar-VMware 

variables:
  AWS_SERVICE_CONNECTION: 'alaa-aws' 
  WORKING_DIR: 'terraform'
  BUCKET_NAME: 'end-to-end-devops-project-bucket'
  REGION: 'us-east-1'
  ACTION_VALUE: ${{ parameters.terraformAction }}
  
  ${{ if eq(parameters.environment, 'prod') }}:
    STATE_KEY: 'infra/prod/terraform.tfstate'
    VAR_FILE: 'prod.tfvars'
  ${{ if eq(parameters.environment, 'nonprod') }}:
    STATE_KEY: 'infra/nonprod/terracform.tfstate'
    VAR_FILE: 'nonprod.tfvars'

stages:
- stage: TerraformExecution
  displayName: 'Terraform Execution'
  jobs:
  - job: TerraformJob
    steps:
    - checkout: self
      clean: true

    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: 'latest'

    - task: AWSShellScript@1
      displayName: 'Terraform Init (Dynamic Backend)'
      inputs:
        awsCredentials: '$(AWS_SERVICE_CONNECTION)'
        regionName: '$(REGION)'
        scriptType: 'inline'
        inlineScript: |
          cd $(WORKING_DIR)
          rm -rf .terraform
          terraform init \
            -backend-config="bucket=$(BUCKET_NAME)" \
            -backend-config="key=$(STATE_KEY)" \
            -backend-config="region=$(REGION)" \
            -reconfigure