trigger: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  - name: AWS_REGION
    value: 'us-east-1'

parameters:
- name: environment
  displayName: "1. Select Environment"
  type: string
  default: nonprod
  values:
  - nonprod
  - prod

- name: terraform_action
  displayName: "2. Select Action"
  type: string
  default: plan
  values:
  - plan
  - apply
  - destroy

stages:
- stage: Terraform_Lifecycle
  jobs:
  - job: Terraform_Execution
    steps:
    - checkout: self

    - task: AWSShellScript@1
      displayName: 'Terraform Execution'
      inputs:
        awsCredentials: 'alaa-aws'
        regionName: $(AWS_REGION)
        scriptType: 'inline'
        inlineScript: |
          set -e
          
          # Install Terraform CLI
          sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update && sudo apt-get install terraform -y

          # Navigate to the code directory
          cd terraform 

          # Initialize with reconfigure to handle backend changes
          terraform init -reconfigure \
            -backend-config="bucket=end-to-end-devops-project-bucket" \
            -backend-config="key=infra/terraform.tfstate" \
            -backend-config="region=$(AWS_REGION)"

          # Execute Plan first for visibility
          echo "Running Terraform Plan for ${{ parameters.environment }}..."
          terraform plan -var-file="${{ parameters.environment }}.tfvars"

          # Execute Apply or Destroy if selected
          if [ "${{ parameters.terraform_action }}" != "plan" ]; then
            echo "Executing ${{ parameters.terraform_action }} on ${{ parameters.environment }}..."
            terraform ${{ parameters.terraform_action }} -var-file="${{ parameters.environment }}.tfvars" -auto-approve
          fi