trigger:
- none

variables:
  AWS_SERVICE_CONNECTION: 'alaa-aws'
  AWS_REGION: 'us-east-1'
  ECR_REPOSITORY_NAME: 'alaa-devops-project-repo'
  IMAGE_TAG: '$(Build.BuildId)'

pool:
  name: 'Self hosted pools'
  demands:
   - Agent.Name -equals alaaynassar-VMware

steps:
- task: AWSShellScript@1
  displayName: 'Build & Push to ECR'
  inputs:
    awsCredentials: '$(AWS_SERVICE_CONNECTION)'
    regionName: '$(AWS_REGION)'
    scriptType: 'inline'
    inlineScript: |
      ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
      REPO_URL="$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_NAME"
      aws ecr get-login-password --region $(AWS_REGION) | docker login --username AWS --password-stdin $REPO_URL
      docker build -f motivational-app/dockerfile -t $REPO_URL:$(IMAGE_TAG) motivational-app/
      docker push $REPO_URL:$(IMAGE_TAG)
      echo "##vso[task.setvariable variable=fullImageRepo]$REPO_URL"

- script: |
    git config --global user.email "pipeline-bot@alaa.com"
    git config --global user.name "AzurePipeline"
    rm -rf repo-temp
    git clone https://$(MY_PAT)@github.com/alaaynassar7/end-to-end-devops-final-project.git repo-temp
    cd repo-temp
    sed -i 's/tag: ".*"/tag: "$(IMAGE_TAG)"/' helm-charts/motivational-app/values.yaml
    git add .
    git commit -m "chore: update image tag to $(IMAGE_TAG) [Skip CI]"
    git push origin main
  displayName: 'Update Helm Chart Version'
  env:
    MY_PAT: $(GITHUB_TOKEN)
