trigger: none 
variables:
  AWS_SERVICE_CONNECTION: 'alaa-aws'
  REGION: 'us-east-1'
  CLUSTER_NAME: 'alaa-devops-project-cluster'

pool:
  name: 'Self hosted pools'
  demands:
   - Agent.Name -equals alaaynassar-VMware 

steps:
- checkout: self
- task: HelmInstaller@0
  inputs:
    helmVersion: 'latest'
    installKubectl: true

- task: AWSShellScript@1
  displayName: 'Install Nginx, ArgoCD & SonarQube'
  inputs:
    awsCredentials: '$(AWS_SERVICE_CONNECTION)'
    regionName: '$(REGION)'
    scriptType: 'inline'
    inlineScript: |
      aws eks update-kubeconfig --region $(REGION) --name $(CLUSTER_NAME)
      
      # 1. Nginx Ingress Controller
      helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
        --namespace ingress-nginx --create-namespace \
        --set controller.service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-type"="nlb" --wait

      # 2. Argo CD
      kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -
      kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

      # 3. SonarQube 
      helm repo add sonarqube https://SonarSource.github.io/helm-chart-sonarqube
      helm repo update
      helm upgrade --install sonarqube sonarqube/sonarqube \
        --namespace sonarqube --create-namespace \
        --set service.type=ClusterIP \
        --set ingress.enabled=true \
        --set ingress.ingressClassName=nginx \
        --set ingress.hosts[0].name="" \
        --set ingress.hosts[0].path="/sonarqube" --wait