trigger: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  - name: AWS_REGION
    value: 'us-east-1'

parameters:
- name: environment
  displayName: "Target Environment"
  type: string
  default: nonprod
  values:
  - nonprod
  - prod

- name: terraform_action
  displayName: "Terraform Action"
  type: string
  default: plan
  values:
  - plan
  - apply
  - destroy

stages:
- stage: Infrastructure_Deployment
  jobs:
  - job: Terraform_Operation
    steps:
    - checkout: self

    - task: AWSShellScript@1
      displayName: 'Provision Infrastructure'
      inputs:
        awsCredentials: 'alaa-aws'
        regionName: $(AWS_REGION)
        scriptType: 'inline'
        inlineScript: |
          set -e
          
          # Install Terraform
          sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update && sudo apt-get install terraform -y

          # THE FIX: Move to the folder where main.tf and nonprod.tfvars exist
          cd terraform

          # Initialize
          terraform init -reconfigure \
            -backend-config="bucket=end-to-end-devops-project-bucket" \
            -backend-config="key=infra/terraform.tfstate" \
            -backend-config="region=$(AWS_REGION)"

          # Plan
          terraform plan -var-file="${{ parameters.environment }}.tfvars"

          # Action
          if [ "${{ parameters.terraform_action }}" != "plan" ]; then
            terraform ${{ parameters.terraform_action }} -var-file="${{ parameters.environment }}.tfvars" -auto-approve
          fi