trigger: none
variables:
- group: 'My Vars'
- name: AWS_SERVICE_CONNECTION
  value: 'alaa-aws'
- name: ECR_REPOSITORY_NAME
  value: 'motivational-app'
- name: IMAGE_TAG
  value: '$(Build.BuildId)'

pool:
  name: 'Self hosted pools'
  demands:
   - Agent.Name -equals alaaynassar-VMware

steps:
- checkout: self

- task: SonarQubePrepare@5
  displayName: 'SonarQube Analysis'
  inputs:
    SonarQube: 'SonarQube-Connection'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'motivational-app'

- task: AWSShellScript@1
  displayName: 'Build & Push to ECR'
  inputs:
    awsCredentials: '$(AWS_SERVICE_CONNECTION)'
    regionName: 'us-east-1'
    scriptType: 'inline'
    inlineScript: |
      ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
      REPO_URL="$ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/$ECR_REPOSITORY_NAME"
      aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin $REPO_URL
      cd motivational-app
      docker build -t $REPO_URL:$(IMAGE_TAG) .
      docker push $REPO_URL:$(IMAGE_TAG)
      echo "##vso[task.setvariable variable=fullImageRepo]$REPO_URL"

- task: SonarQubePublish@5

- script: |
    git config --global user.email "pipeline-bot@alaa.com"
    git config --global user.name "AzurePipeline"
    git clone https://$(MY_PAT)@github.com/alaaynassar7/end-to-end-devops-project.git repo-temp
    cd repo-temp
    sed -i 's/tag: ".*"/tag: "$(IMAGE_TAG)"/' helm-charts/motivational-app/values.yaml
    sed -i "s|repository: .*|repository: $(fullImageRepo)|" helm-charts/motivational-app/values.yaml
    git add .
    git commit -m "update image to $(IMAGE_TAG) [Skip CI]"
    git push origin main
  env:
    MY_PAT: $(MY_PAT)