name: $(Date:yyyyMMdd)$(Rev:.r)-App-CI
trigger:
  branches:
    include:
      - main
  paths:
    include:
      - motivational-app/*

pool:
  name: 'Self hosted pools'
  demands:
   - Agent.Name -equals alaaynassar-VMware

variables:
  AWS_SERVICE_CONNECTION: 'alaa-aws'
  AWS_REGION: 'us-east-1'
  # Make sure this matches the repo name created by Terraform
  ECR_REPOSITORY_NAME: 'alaa-devops-project-repo' 

steps:
- checkout: self

# 1. Login to AWS ECR
- task: AWSShellScript@1
  displayName: 'Login to ECR'
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: 'inline'
    inlineScript: |
      aws ecr get-login-password --region $(AWS_REGION) | docker login --username AWS --password-stdin $(aws sts get-caller-identity --query Account --output text).dkr.ecr.$(AWS_REGION).amazonaws.com

# 2. Build and Push Docker Image
- task: AWSShellScript@1
  displayName: 'Build and Push Image'
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: 'inline'
    inlineScript: |
      # Get Account ID dynamically
      ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
      ECR_URI="$ACCOUNT_ID.dkr.ecr.$(AWS_REGION).amazonaws.com/$(ECR_REPOSITORY_NAME)"
      
      echo "Building Docker Image for: $ECR_URI"
      
      cd motivational-app
      
      # Build with two tags: BuildID and latest
      docker build -t $ECR_URI:$(Build.BuildId) -t $ECR_URI:latest .
      
      echo "Pushing images..."
      docker push $ECR_URI:$(Build.BuildId)
      docker push $ECR_URI:latest
      
      echo "Image pushed successfully!"