apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: motivational-app-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: "" 
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: motivational-app
            port:
              number: 80