replicaCount: 2

image:
  repository: alaaynassar7/motivational-app
  pullPolicy: IfNotPresent
  tag: "v1.0.0"

# Database Connection (Injected from Vault/Secret)
env:
  mongoUriSecretName: "mongodb-atlas-uri"
  mongoUriKey: "connection_string"

service:
  type: ClusterIP
  port: 80
  targetPort: 5000 

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: app.alaaynassar.com
      paths:
        - path: /
          pathType: ImplementationSpecific

livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 5
  periodSeconds: 10

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false