apiVersion: v1
kind: Service
metadata:
  name: {{ include "motivational-app-chart.fullname" . }}
  labels:
    {{- include "motivational-app-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}       
      targetPort: {{ .Values.service.targetPort }} 
      protocol: TCP
      name: http
  selector:
    {{- include "motivational-app-chart.selectorLabels" . | nindent 4 }}