# Default values for motivational-app.
replicaCount: 1

image:
  repository: alaaynassar7/motivational-app
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: "motivational-app"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 5000        
  targetPort: 5000  

ingress:
  enabled: true 
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/auth-signin: "placeholder"
  hosts:
    - host: 
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
