# Default values for motivational-app.
replicaCount: 1

image:
  repository: alaaynassar7/motivational-app
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: "motivational-app"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 5000  # Default Flask port

ingress:
  enabled: true
  className: "nginx"
  annotations:
    # This will be overwritten by the pipeline dynamically, but we keep it as a placeholder
    nginx.ingress.kubernetes.io/auth-signin: "placeholder"
  hosts:
    - host: 
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}